.container{
  background: url(https://image.flaticon.com/icons/png/512/41/41590.png) no-repeat center;
width: 100%; height: 600px; display: flex; flex-direction: column; align-items: center;
}
.counter{
  margin-top: 200px;
}
.counter span {
  font-family: Arial, Helvetica, sans-serif;font-size: 35px; color: black;
}

.time{
  margin-top: 5px;     margin-right: 7px;
}
.time span{ 
  font-family: Arial, Helvetica, sans-serif;font-size: 15px; margin-left: 14px; color: grey;
}
.setting{
  margin-top: 60px;
}
#start{
  border: 2px solid #13d3c6; width: 60px; height: 30px; border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;font-size: 15px; margin-left: 14px; color: #13d3c6; 
  margin-right: 10px;
}
#reset{
  border: 2px solid black; width: 60px; height: 30px; border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;font-size: 15px; margin-left: 14px; color:black; 
  margin-right: 10px;
}